

#nav {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 10em;
}

#content {
    margin-left: 10em;
}

btn-custom { background-color: hsl(219, 100%, 30%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0059ff", endColorstr="#003599"); background-image: -khtml-gradient(linear, left top, left bottom, from(#0059ff), to(#003599)); background-image: -moz-linear-gradient(top, #0059ff, #003599); background-image: -ms-linear-gradient(top, #0059ff, #003599); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0059ff), color-stop(100%, #003599)); background-image: -webkit-linear-gradient(top, #0059ff, #003599); background-image: -o-linear-gradient(top, #0059ff, #003599); background-image: linear-gradient(#0059ff, #003599); border-color: #003599 #003599 hsl(219, 100%, 25%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased;